<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Klaudia Boguszewicz</a></h1>
        </div>

        <div>
            <p>published: 08.09.2019, 12:18</p>
            <h2><a href="">Elo, witam serdecznie</a></h2>
            <p>Przepraszam cię, za to, że
wywróciłem całe życie twe
i wybacz mi każdą rzecz,
którą kiedyś przeraziłem cię
Pamietam jak O-o-o,
przez ulicę z wielką gracją szłaś
Pamietam jak O-o-o,
na mój widok odwróciłaś twarz. </p>
        </div>

        <div>
            <p>published: 08.09.2019, 12:18</p>
            <h2><a href="">Klaudia Boguszewicz - druga odsłona</a></h2>
            <p>Weź mnie we śnie ze mną bądź,
We śnie weź mnie całą noc. </p>
        </div>
    </body>
</html>
